.checked {
     text-decoration: line-through;
 }

mat-card-header {
    justify-content: center;
    background: #f3f3f3;
    border: solid 1px #006699;
}

mat-card-content {
    padding: 20px 60px 60px 20px;
    text-align: left;
}