.checked {
    text-decoration: line-through;
}

mat-card-header {
    justify-content: center;
    background: #f3f3f3;
    border: solid 1px #006699;
}

mat-card-content {
    text-align: left;
}

.btn-add-todo {
    justify-content: right;
    padding-right: 24px;
}