<mat-card>
    <mat-card-header>
        <h2>Todo List</h2>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let todo of  todos$ | async">
                <mat-divider></mat-divider>
                <p matLine (click)="moreDetails(todo)" [ngClass]="{'checked': todo.stateTodo === false}">
                    {{todo.nameTodo}}</p>
                <p matLine>{{todo.stateTodo ? 'Activer':'Désactiver'}}</p>
                <mat-checkbox [checked]="!todo.stateTodo" (change)="onSelectTodo(todo)"></mat-checkbox>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>